{% extends 'layout.html' %}

{% block head %}
    <title>Solicitações Registradas</title>
{% endblock %}

{% block content %}

{% if success %}
    <div class="messages success">{{ success }}</div>
{% endif %}

<div class="card">
    <div class="header-page">
        <h2>Agendamentos</h2>
        
        <input type="text" name="" id="buscaIndex" placeholder="Nome ou Ticket...">
        
        <input type="date" id="dataFiltroIndex" name="data_filtro" onchange="window.location.href='/?data=' + this.value">
        
        <button class="button-send" onclick="window.location.href='/form'">
            Solicitar Acesso
        </button>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Empresa</th>
                    <th>Data do<br>Acesso</th>
                    <th>Data Final</th>
                    <th>Dias</th>
                    <th>Veículo</th>
                    <th>Prévia</th>
                    <th>Autorizado</th>
                </tr>
            </thead>

            <tbody>
                {% for acesso in acessos %}
                <tr data-ticket="{{ acesso.ticket }}">
                    <td>{{ acesso.nome }}</td>
                    <td>{{ acesso.empresa }}</td>
                    <td>{{ acesso.data_do_acesso }}</td>
                    <td>{{ acesso.data_limite }}</td>
                    <td>{{ acesso.qtd_dias }}</td>

                    <td>
                        {% if acesso.com_veiculo %} Sim {% else %} Não {% endif %}
                    </td>

                    <td class="td-previa" data-ticket="{{ acesso.ticket }}">
                        
                        <span style="color: #00BEDD; cursor: pointer; text-decoration: underline; font-weight: 500;">
                            Ver Prévia
                        </span>
                    </td>

                    <td class="autorizado 
                            {{ acesso.autorizado 
                                | lower 
                                | replace('ã','a') 
                                | replace('á','a') 
                                | replace('â','a') 
                                | replace(' ', '-') 
                            }}">
                        {{ acesso.autorizado }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}