{% extends 'layout.html' %}

{% block head %}
<title>Solicitações Registradas</title>
{% endblock %}

{% block content %}

{% if success %}
<div class="messages success">{{ success }}</div>
{% endif %}

<div class="card">
    <div class="header-page">
        <h2>Agendamentos</h2>
        <input type="text" id="buscaIndex" placeholder="Nome ou Ticket...">

        <!-- O input agora usa onchange e onkeypress chamando a nova função JS -->
        <input type="date" id="dataFiltroIndex" name="data_filtro" value="{{ dataAtual }}"
            onchange="atualizarDataIndex(this)" onkeypress="atualizarDataIndex(this, event)">

        <div style="display: flex; gap: 10px;">
            <button class="button-send" style="background-color: #16a34a;"
                onclick="window.location.href='/download-csv'">
                <i class="fa-solid fa-download"></i> Download
            </button>

            <button class="button-send" onclick="window.location.href='/form'">
                Solicitar Acesso
            </button>
        </div>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="col-empresa">Empresa</th> <!-- Classe de expansão aqui -->
                    <th>Data do<br>Acesso</th>
                    <th>Data Final</th>
                    <th>Dias</th>
                    <th>Veículo</th>
                    <th>Solicitante</th> <!-- Nova Coluna -->
                    <th>Prévia</th>
                    <th>Autorizado</th>
                </tr>
            </thead>

            <tbody>
                {% for acesso in acessos %}
                <tr data-ticket="{{ acesso.ticket }}">
                    <td>{{ acesso.nome }}</td>
                    <td>{{ acesso.empresa }}</td>
                    <td>{{ acesso.data_do_acesso }}</td>
                    <td>{{ acesso.data_limite }}</td>
                    <td>{{ acesso.qtd_dias }}</td>
                    <td>{% if acesso.com_veiculo %} Sim {% else %} Não {% endif %}</td>

                    <td>{{ acesso.solicitante }}</td> <!-- Novo Dado -->

                    <td class="td-previa" data-ticket="{{ acesso.ticket }}">
                        <span style="color: #00BEDD; cursor: pointer; text-decoration: underline; font-weight: 500;">
                            Ver Prévia
                        </span>
                    </td>

                    <td
                        class="autorizado {{ acesso.autorizado | lower | replace('ã','a') | replace('á','a') | replace('â','a') | replace(' ', '-') }}">
                        {{ acesso.autorizado }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}