{% extends '../layout.html' %}

{% block head %}
    <title>Edição Massiva | Acessos</title>
{% endblock %}

{% block content %}

<div class="card">
    <div class="header-page">
        <h2>Edição Massiva de Acessos</h2>
    </div>

    <hr>

    <div class="row mb-5">
        <div class="field flex-none">

            <div class="filter-header-row">
                <span style="font-weight: bold;">Filtrar por Status na Tabela:</span>
                
                <button type="button" class="btn-download-csv" onclick="window.location.href='/download-csv'">
                    <i class="fa-solid fa-download"></i> Download CSV
                </button>
            </div>

            <!-- <label>Filtrar por Status na Tabela:</label> -->
            <div class="checkbox-group">
                <label><input type="checkbox" class="status-filter" value="SIM" checked> SIM</label>
                <label><input type="checkbox" class="status-filter" value="NÃO" checked> NÃO</label>
                <label><input type="checkbox" class="status-filter" value="PENDENTE" checked> PENDENTE</label>
                <label><input type="checkbox" class="status-filter" value="SOLICITADO" checked> SOLICITADO</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="field data">
            <label for="dataInicio">Data Início</label>
            <input type="date" id="dataInicio" name="dataInicio" value="2026-04-01">
        </div>

        <div class="field data">
            <label for="dataFim">Data Fim</label>
            <input type="date" id="dataFim" name="dataFim" value="2026-07-30">
        </div>

        <div class="field field-relative">
            <label for="buscaNome">Buscar por Nome</label>
            <input type="text" id="buscaNome" name="buscaTermo" placeholder="Ex: Nome, CPF ou Ticket..."
                autocomplete="off" value="{{ buscaTermoAtual }}">

            <div id="autocomplete-list" class="autocomplete-items"></div>
        </div>

        <div class="field flex-none">
            <button type="button" class="button-send">Filtrar</button>
        </div>
    </div>

    <div class="card-edit-mass">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th class="col-checkbox">
                            <input type="checkbox" id="selectAll">
                        </th>
                        <th>TICKET</th>
                        <th>NOME</th>
                        <th>CPF</th>
                        <th>EMPRESA</th>
                        <th>DATA DO ACESSO</th>
                        <th>DIAS</th>
                        <th>DATA FINAL</th>
                        <th>VEÍCULO?</th>
                        <th>AUTORIZADO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for acesso in acessos %}
                    <tr data-ticket="{{ acesso.ticket }}">
                        <td class="text-center">
                            <input type="checkbox" class="row-checkbox" value="{{ acesso.ticket }}">
                        </td>
                        <td>{{ acesso.ticket }}</td>
                        <td>{{ acesso.nome }}</td>
                        <td>{{ acesso.numero_doc }}</td>
                        <td>{{ acesso.empresa }}</td>
                        <td>{{ acesso.data_do_acesso }}</td>
                        <td>{{ acesso.qtd_dias }}</td>
                        <td>{{ acesso.data_limite }}</td>
                        <td>
                            {% if acesso.com_veiculo %} Sim {% else %} Não {% endif %}
                        </td>
                        <td class="autorizado 
                            {{ acesso.autorizado 
                                | lower 
                                | replace('ã','a') 
                                | replace('á','a') 
                                | replace('â','a') 
                                | replace(' ', '-') 
                            }}">
                            {{ acesso.autorizado }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="form-actions">
            <select name="autorizado" id="status_select">
                <option value="SIM" selected>SIM</option>
                <option value="NÃO">NÃO</option>
                <option value="PENDENTE">PENDENTE</option>
            </select>

            <button class="button-send btn-auto" onclick="editarSelecionados()">
                Editar Selecionados
            </button>
        </div>
    </div>
</div>

{% endblock %}